{:company/legal-name "Siemens Healthineers AG"
 :company/lei "529900QBVWXMWANH7H45"
 :company/jurisdiction "DE"
 :company/website "https://www.siemens-healthineers.com"
 :company/ticker "SHL (XETRA)"}
